<div class="row">
	<div class="col-md-2" ng-repeat="item in config" ng-if="item.buttonRenderer">
		<span compile="item.buttonRenderer"></span>
	</div>
</div>
<div class="table-info-wrapper" ng-if="config.showTableInfo">
	{{util.playMessages('depotsBalanceRegistry.tableItemsCount.label')}}:
	<strong ng-if="data">{{util.formatIntCount(data.length)}}</strong>
	<strong ng-if="!data">-</strong>
</div>
<table ng-class="{ 'table table-bordered': config.bootstrapTableClass, 'registry-table': !config.bootstrapTableClass  }" >
	<thead>
	<tr class="head-row">
		<th ng-repeat="th in config" class="{{th.cssClass}}" ng-if="needToBeShown(th.renderer)" ng-click="order(th.orderField)">
			<span ng-if="!util">{{th.title}}</span>
			<span ng-if="util && !th.titleRenderer">{{th.title ? util.hyphenate(th.title) : '' | toTrusted}}</span>
			<div ng-if="th.titleRenderer && !isTemplate(th.titleRenderer)" ng-bind-html="th.titleRenderer(tr, td) | toTrusted"></div>
			<div ng-if="th.titleRenderer && isTemplate(th.titleRenderer)" ng-include="th.titleRenderer"></div>
		</th>
	</tr>
	<tr ng-if="config.useHeadSpaceRow" class="head-space-row">
		<td colspan="{{config.length}}"></td>
	</tr>
	</thead>
	<tr ng-repeat="tr in data" class="element-row" ng-class="{ 'selected': tr.selected }">
		<td ng-repeat="td in config" class="{{td.cssClass}}" ng-if="needToBeShown(td.renderer)">
			<div ng-if="!isTemplate(td.renderer)" ng-bind-html="td.renderer(tr, td) | toTrusted"></div>
			<div ng-if="isTemplate(td.renderer)" ng-include="td.renderer"></div>
		</td>
	</tr>
</table>
<div class="text-center">
	<button type="button" class="btn btn-success" ng-show="loadMoreIsVisible()" ng-click="loadMore()">Загрузить еще</button>
</div>